@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../prod/fonts/Ubuntu/Ubuntu-Regular.ttf"); }
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../prod/fonts/Ubuntu/Ubuntu-Light.ttf"); }
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../prod/fonts/Ubuntu/Ubuntu-Bold.ttf"); }
h2, h1 {
  font-family: "Ubuntu-Bold";
  color: #fff; }

body {
  margin: 0;
  padding: 0;
  background-color: #343F4B; }
  body #navbar {
    display: inline-flex;
    height: 120px;
    background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 9; }
    body #navbar #navbar_brand img {
      height: 120px;
      padding-left: 20px; }
    body #navbar ul {
      list-style: none;
      display: flex;
      margin-top: 60px;
      align-items: baseline; }
      body #navbar ul li {
        margin-right: 40px;
        font-family: "Ubuntu-Bold"; }
        body #navbar ul li a {
          font-size: 20px;
          text-decoration: none;
          color: #fff;
          transition: all 0.1s ease-in;
          background: linear-gradient(to top, #77D353 0%, #77D353 10%, transparent 10.01%) no-repeat left bottom/0 100%; }
          body #navbar ul li a:hover {
            color: #77D353;
            transition: all 0.1s ease-in;
            background-size: 100% 100%; }
      body #navbar ul #account {
        position: absolute;
        right: 0; }
        body #navbar ul #account svg path {
          transition: all 0.1s ease-in; }
        body #navbar ul #account:hover svg path {
          fill: #77D353;
          transition: all 0.1s ease-in; }
  body button {
    display: none;
    background-color: transparent;
    border: none !important;
    position: absolute;
    right: 25px;
    top: 27px; }
    body button:hover {
      cursor: pointer;
      transition: all 0.1s ease-in; }
      body button:hover svg path {
        fill: #77D353;
        transition: all 0.1s ease-in; }
  body #modal_menu {
    display: none;
    text-align: center;
    padding-top: 80px;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
    body #modal_menu ul {
      list-style: none;
      margin-top: 50px;
      padding: 0; }
      body #modal_menu ul li {
        font-family: "Ubuntu-Bold"; }
        body #modal_menu ul li a {
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          transition: all 0.1s ease-in;
          background: linear-gradient(to top, #77D353 0%, #77D353 10%, transparent 10.01%) no-repeat left bottom/0 100%; }
          body #modal_menu ul li a:hover {
            color: #77D353;
            transition: all 0.1s ease-in;
            background-size: 100% 100%; }
      body #modal_menu ul #modal_account {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px; }
        body #modal_menu ul #modal_account svg path {
          transition: all 0.1s ease-in; }
        body #modal_menu ul #modal_account:hover a {
          color: #77D353;
          transition: all 0.1s ease-in; }
        body #modal_menu ul #modal_account:hover svg path {
          fill: #77D353;
          transition: all 0.1s ease-in; }
      body #modal_menu ul .divider {
        margin: 25px auto !important;
        width: 70vw;
        height: 2px;
        background: #fff;
        margin: 0 auto; }
  body #main_content, body #all_lines {
    padding: 0 100px 0 100px;
    width: auto; }
    body #main_content form, body #all_lines form {
      margin: 160px 30px; }
      body #main_content form h2, body #all_lines form h2 {
        padding-left: 10px;
        margin-bottom: 15px; }
      body #main_content form input, body #all_lines form input {
        width: 100%;
        height: 30px;
        outline: none;
        border: 3px solid #77D353;
        border-radius: 20px;
        text-indent: 10px; }
        body #main_content form input:focus, body #all_lines form input:focus {
          background-color: rgba(255, 255, 255, 0.733); }
  body #all_lines {
    display: flex;
    flex-direction: column;
    margin-top: 160px; }
    body #all_lines h1 {
      padding-left: 10px;
      margin-bottom: 15px; }
    body #all_lines #tram_section a, body #all_lines #chrono a, body #all_lines #proximo a, body #all_lines #flexo a, body #all_lines #tad a {
      width: 100px;
      height: 100px; }
    body #all_lines #pays_voironnais a, body #all_lines #tougo a, body #all_lines #transisere a {
      width: 150px;
      height: 100px; }
    body #all_lines .categories {
      margin-top: 50px;
      padding: 20px;
      background-color: #5A6978;
      border-radius: 25px;
      box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.6); }
      body #all_lines .categories .circle {
        background-color: pink;
        margin: 5px;
        float: left;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.1s ease-in; }
        body #all_lines .categories .circle:hover {
          filter: brightness(1.2);
          transform: scale(1.02) translate(1px, -1px);
          box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.5);
          transition: all 0.1s ease-in; }
        body #all_lines .categories .circle p {
          line-height: 50px;
          font-family: "Ubuntu-Bold";
          font-size: 24px; }
  body #line {
    padding-bottom: 50px;
    margin: 0; }
  body #timeline_box {
    min-height: 100vh;
    width: 50vw;
    margin-top: 150px;
    font-family: "Ubuntu-Regular";
    color: #333; }
    body #timeline_box * {
      box-sizing: border-box; }
    body #timeline_box #trajet {
      text-indent: 20px;
      font-family: "Ubuntu-Bold";
      color: #fff;
      display: flex; }
      body #timeline_box #trajet #swap {
        padding-top: 20px; }
        body #timeline_box #trajet #swap svg path {
          transition: all 0.1s ease-in; }
        body #timeline_box #trajet #swap:hover {
          cursor: pointer; }
          body #timeline_box #trajet #swap:hover svg path {
            fill: #77D353;
            transition: all 0.1s ease-in; }
    body #timeline_box .timeline {
      width: 100%;
      background: #fff;
      padding: 50px 50px;
      border-radius: 20px;
      background-color: #5A6978;
      position: relative; }
      body #timeline_box .timeline:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(33% + 15px);
        bottom: 0px;
        width: 4px;
        background: #000; }
      body #timeline_box .timeline:after {
        content: "";
        display: table;
        clear: both; }
      body #timeline_box .timeline .entry {
        clear: both;
        text-align: left;
        position: relative; }
        body #timeline_box .timeline .entry .title {
          margin-bottom: .5em;
          float: left;
          width: 33%;
          padding-right: 30px;
          text-align: right;
          position: relative; }
          body #timeline_box .timeline .entry .title:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border: 4px solid #77D353;
            background-color: #77D353;
            border-radius: 100%;
            top: 15%;
            right: -8px;
            z-index: 1; }
          body #timeline_box .timeline .entry .title h3 {
            margin: 0;
            font-family: "Ubuntu-Bold";
            color: #fff; }
          body #timeline_box .timeline .entry .title p {
            margin: 0;
            font-size: 100%; }
        body #timeline_box .timeline .entry .body {
          margin: 0 0 2em;
          float: right;
          width: 66%;
          padding-left: 30px; }
          body #timeline_box .timeline .entry .body p {
            line-height: 0.5em;
            padding-top: 8px;
            color: #fff; }
            body #timeline_box .timeline .entry .body p:first-child {
              margin-top: 0;
              font-weight: 400; }

@media (max-width: 992px) {
  #navbar {
    height: 80px !important; }
    #navbar #navbar_brand img {
      height: 80px !important; }
    #navbar #links_list {
      display: none !important; }

  .display {
    display: block !important; }

  .not_display {
    display: none !important; }

  #modal_menu {
    display: none; }

  #main_content, #all_lines {
    padding: 0 30px 0 30px !important; } }
@media (max-width: 768px) {
  #main_content form {
    text-align: center; }

  #all_lines #tram_section a, #all_lines #chrono a, #all_lines #proximo a, #all_lines #flexo a, #all_lines #tad a {
    width: 50px !important;
    height: 50px !important; }
  #all_lines #pays_voironnais a, #all_lines #tougo a, #all_lines #transisere a {
    width: 100px !important;
    height: 50px !important; }
  #all_lines p {
    line-height: 25px !important;
    font-family: "Ubuntu-Bold";
    font-size: 16px !important; }
  #all_lines #tad p {
    font-size: 12px !important; } }

/*# sourceMappingURL=style.css.map */
